/*
	Daniel Tran
	CS 154 AD
	13 April 2016
	Assignment 2: Movie Review	
*/
body {
	background-image: url(https://webster.cs.washington.edu/images/moviebg.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

h1 {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 24pt;
	text-align: center;
	text-shadow: 3px 3px #999999;
}

#head {
	background-image: url(https://webster.cs.washington.edu/images/rancidbannerbg.png);
	padding: 0px;
}

#logo {
	border-top-left-radius: 20px;
	float: left;
}

#banner {
	display: block;
    margin: 0 auto;
}

#poster {
	float: right;
	border-top-right-radius: 20px;
}

#percentage {
	font-weight: bold;
	float: left;
	font-size: 48pt;
	color: red;
}

#mainarea {
	margin: auto;
	background-image: url(https://webster.cs.washington.edu/images/rottenlargebg.png);
	background-color: #EEEEEE;
	border-radius: 20px;
	width: 800px;
	height: 83px;
}
